body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  display: flex;

  padding: 0 2rem;
  gap: 5rem;
  padding-bottom: 1rem;
  border-bottom: black 0.1rem solid;
  align-items: center;
}

.card > img {
  width: 200px;
  border-radius: 10%;
}

.listWrapper {
  padding: 10rem 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
